* { 
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    font-family: Arial, sans-serif;
}

header { /* her har jeg dekoreret min navbar's baggrund/box */
    background-color: rgba(0, 0, 0, 0.5); 
    color: white; 
    position: fixed; 
    width: 100%; 
    padding: 3%;
}
.unordered { /* her har jeg dekoreret teksten til min menu */
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.listen {
    padding: 5px;
    position: relative; /* gør at jeg kan ændre på positionen uden at forstyrre layout */
}

.menu { /* her har jeg lavet min menu/nav bar */
    color: white;
    text-decoration: none; /* her har jeg fjernet den decorations "li/link" kommer med */
    font-size: 150%;
    padding: 15px 50px 10px 45px;
    font-family: Arial, sans-serif;

}
.menu:hover { /* her har jeg lavet en hover funktion over min menu */
    background-color:rgba(0, 0, 0, 0.5) ;
    border-bottom: 4px solid orange; 
}

.submenu {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
}
.listen:hover .submenu { /* Her har jeg referet til second child submenu, så når jeg hover over listen vil den reagere og submenuen bliver vist som et block element */
    display: block;
}

.submenu li { /* min liste der hører til submenu*/
    margin-bottom: 5px;
    list-style: none;
}

.submenu a { /* sys jeg lavede for mange classes så her har jeg brugt en class=submenu, også referet til mit anchor tag for at undgå at tag li med */
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 5px;
}

.submenu a:hover { 
    background-color: orange; /* givet bagrunds farve når du hover over en submenu */
}

.billeder {
    display: flex; /* gør det lettere at ændre layout */
    width: 33.33%; /* har givet billederne en class, hvor jeg der efter har givet dem 33,33% for at være sikker på de kan passe på samme side*/
    height: auto;
}

footer { /* her har jeg placeret min artikle/introduktion til hvor jeg ønskede */
    position: absolute; 
    color: white; 
    padding: 20px; 
    width: 100%; 
    bottom: 100px; 
    text-align: left; 
}

.BokseVerdenen { /* her har jeg dekoreret min overskrift */
    color: orange; 
    font-weight: bold; 
    font-size: 500%;
}

.brødtekst { /* ændret størrelsen på skriften under min overskrift */
    font-size: 170%; 
}

